@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root {
    --color-primary: #000000;
    --color-white: #e9e9e9;
    --color-black: #b12b10;
    --color-black-1: #212b38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.logo {
    color: var(--color-white);
    font-size: 30px;
}

.logo span {
    color: var(--color-primary);
}

.menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
}

.menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: var(--color-primary);
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}


/* dropdown menu style */

.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}

.dropdown-menu-1 {
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}

.home {
    min-height: 115vh;
    display: flex;
    align-items: center;
    background: url(../images/cover.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.text {
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    background-color: #ff5e00;
}

.box-container {
    display: inline-block;
    align-items: center;
}

.filter-gal-par {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery_product img {
    width: 360px;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.gallery_product img:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

section#project {
    position: relative;
    margin-top: 50px;
}

#blog {
    padding: 100px 0;
}

.blog-content {
    display: flex;
    align-items: center;
}

.blog-info ul li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 13px !important;
    font-size: 0.75rem;
    margin-right: 5px;
}

.blog-img {
    position: relative;
}

.blog-img:before {
    content: "16 March";
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 17px;
    background-color: serif;
    background-color: #ff5e00;
    color: #fff;
    z-index: 1;
    padding: 9px;
}

.blog-img img {
    height: 140px;
    width: 300px;
}

.blog-info {
    margin-left: 30px;
}

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75px;
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #d0155d;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.copyright {
    text-align: center;
    background-color: #e05809;
    color: #fff;
    padding: 14px 0px;
}