    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    header {
        background-image: url(cover.jpg);
        height: 120vh;
        background-size: cover;
        background-position: center;
        margin-top: 100px;
    }
    
    ul {
        float: right;
        list-style-type: none;
        margin-top: 25px;
    }
    
    ul li {
        display: inline-block;
    }
    
    ul li a {
        text-decoration: none;
        color: black;
        padding: 10px 40px;
        border: 1px solid transparent;
        background-color: rgb(205, 90, 32);
    }
    
    ul li a:hover {
        background-color: #fff;
        color: red;
    }
    
    .logo img {
        float: left;
        width: 150px;
        height: auto;
        margin-top: 10px;
    }
    
    .main {
        max-width: 1200px;
        margin: auto;
    }
    
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .title h1 {
        color: black;
        font-size: 25px;
    }
    
    .button {
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .btn {
        border: 1px solid rgba(207, 63, 15, 0.72);
        padding: 10px 50px;
        color: black;
        text-decoration: none;
        background-color: rgb(167, 167, 167);
        border: 1px solid transparent;
        transition: 0.6s ease;
        position: absolute;
    }
    
    .btn:hover {
        background-color: #fff;
        color: red;
    }
    
    .about {
        color: black;
        font-size: 20px;
        font-family: sans-serif;
        background-color: lightcyan;
    }
    
    .container-img img {
        height: 85px;
        width: 85px;
        padding: 15px;
        background: var(--bg-color);
        box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
        border-radius: 4px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    
    .container-box h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    .container-box p {
        font-size: 15px;
        color: var(--second-color);
    }
    
    .container-box:hover {
        box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
        border: 1px solid transparent;
        transform: translateY(-3px);
    }
    
    .title {
        text-align: center;
    }
    
    .title h2 {
        font-size: var(--h2-font);
        line-height: 1.2;
    }
    
    .package-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-gap: 2rem;
        align-items: center;
        margin-top: 5rem;
    }
    /* Style all font awesome icons */
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
    /* Add a hover effect if you want */
    
    .fa:hover {
        opacity: 0.7;
    }
    /* Set a specific color for each brand */
    /* Facebook */
    
    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    /* Youtube */
    
    .fa-youtube {
        background: red;
        color: white;
    }
    /* Instagram */
    
    .fa-instagram {
        background: #c7406b;
        color: rgb(255, 255, 255);
    }
    /* Twitter */
    
    .fa-twitter {
        background: rgb(97, 165, 207);
        color: rgb(255, 255, 255);
    }